# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
#Sortons les choses qui n'interessent que moi du .git
node_modules/
.env
.idea/
data/
*.db
